.navbar {
  display: flex;
  align-items: center;
  background-color: white;

  position: sticky;  /* makes the navbar move with scroll */
  top: 0;            /*keeps it at the top */
  z-index: 1000;  
  box-shadow: 0 2px 1px rgba(26, 21, 21, 0.5);
}

.navbar .brand a {
  display: block;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 5px 30px;
  text-decoration: none;
}

.navbar .menu {
  list-style: none;
  display: flex;
  margin-left: auto;     
}

.navbar .menu li a {
  display: block;
  color: black;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
}

.navbar .menu li a:hover {
  background-color: #d8d8d8;
}

/*----------------------------*/
.burger-image {
  text-align: center; 
}

.burger-image img {
  width: 100% ; 
  max-width: 1800px; 
  height: auto;
  display: inline-block; 
  padding: 5px 40px; 
}
/*----------------------------*/
.about {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    gap: 40px;
}

.about-image {
    flex: 1; 
}
.about-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
     opacity: 0.5;
}

.about-text {
    flex: 1;
    padding-right: 20px;
    margin-top: 20px;
}

.about-text h2 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 38px;
    margin: 0 0 60px;
    font-weight: 300;
}

.about-text h4 {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 22px;
}


.about-text .p1 {
    line-height: 1.5;
    font-size: 21px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 400;
}
.about-text .p2 {
    line-height: 1.3;
    font-size: 21px;
    color: #707070;
    margin-bottom: 20px;
    font-weight: 400;
}

.highlight {
    background-color: #eee;
    padding: 3px 6px;
}
/*----------------------------*/
.menu-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.menu-section h2 {
    font-size: 36px;
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-weight: 300;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.menu-items {
    flex: 1;
    min-width: 300px;
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item h3 {
    letter-spacing: 6px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}

.menu-item p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.menu-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.menu-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 4px;
    display: inline-block;
     opacity: 0.5;
    
}

.contact-section {
  padding: 64px 16px;
  max-width: 800px;
  margin: auto;
  font-family: "Times New Roman", serif;
}

.contact-section h1 {
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 200;
}
.contact-section .offer{
    font-size: 20px;

}

.contact-info {
  color: #607d8b; 
  font-size: 18px;
  margin-bottom: 24px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 8px 0;
  margin: 12px 0;
  font-size: 16px;
  outline: none;
  background: transparent;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom-color: #000;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border: 2px solid #000; 
  border-radius: 4px;
  padding: 6px 10px; 
}



.contact-form button {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 12px;
}

.contact-form button:hover {
  background-color: #ddd;
}

